pipeline/DeltaLoadCopyMatviewsFromOnPrem.json
{
	"name": "DeltaLoadCopyMatviewsFromOnPrem",
	"properties": {
		"activities": [
			{
				"name": "LookupUSDEMatViews",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.LookupUSDEMatViews",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DestinationDataset_0x8",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachMatview",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupUSDEMatViews",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupUSDEMatViews').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IncrementalCopyMatViews",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT * FROM @{item().MatviewName} \nminus \nSELECT * FROM @{item().MatviewName_curr}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "truncate table @{item().Sink_Table_Upsert}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "OracleTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQL",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().Sink_Table_Upsert}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "spMergeStageToTarget",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IncrementalCopyMatViews",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spMergeStageToTarget]",
								"storedProcedureParameters": {
									"dst": {
										"value": {
											"value": "@{item().MatviewName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"src": {
										"value": {
											"value": "@{Item().Sink_Table_Upsert}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Logging SQL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IncrementalCopyMatViews",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_adf_pipeline_log_update]",
								"storedProcedureParameters": {
									"ActivityTask": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityType": {
										"value": "IncrementalCopyMatViews",
										"type": "String"
									},
									"DataFactory": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"Duration": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').Duration",
											"type": "Expression"
										},
										"type": "TimeSpan"
									},
									"Error": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').Error",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionDetails": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').ExecutionDetails",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionEndTime": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').ExecutionEndTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ExecutionStartTime": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"JobId": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').JobId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Output": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').Output",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').ActivityRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"StatusCode": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').StatusCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"stage_table_name": {
										"value": {
											"value": "@{item().Sink_Table_Upsert}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LoggingDestinationTableMetadata",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "spMergeStageToTarget",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_adf_pipeline_log_update]",
								"storedProcedureParameters": {
									"ActivityTask": {
										"value": {
											"value": "@activity('spMergeStageToTarget').Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityType": {
										"value": "MergeStageTarget",
										"type": "String"
									},
									"DataFactory": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"Duration": {
										"value": {
											"value": "@activity('spMergeStageToTarget').Duration",
											"type": "Expression"
										},
										"type": "TimeSpan"
									},
									"Error": {
										"value": {
											"value": "@activity('spMergeStageToTarget').Error",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionDetails": {
										"value": {
											"value": "@activity('spMergeStageToTarget').ExecutionDetails",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionEndTime": {
										"value": {
											"value": "@activity('spMergeStageToTarget').ExecutionEndTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ExecutionStartTime": {
										"value": {
											"value": "@activity('spMergeStageToTarget').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"JobId": {
										"value": {
											"value": "@activity('spMergeStageToTarget').JobId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Output": {
										"value": {
											"value": "@activity('IncrementalCopyMatViews').Output",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@activity('spMergeStageToTarget').ActivityRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@activity('spMergeStageToTarget').Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"StatusCode": {
										"value": {
											"value": "@activity('spMergeStageToTarget').StatusCode",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"var_logging": {
				"type": "Array",
				"defaultValue": [
					"1"
				]
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}