AZUSWVADF00610/PartialArmTemplates/ArmTemplate_9_5_2019_9_0_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "AZUSWVADF00610"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DeltaLoadCopyMatviewsFromOnPrem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupUSDEMatViews",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from dbo.LookupUSDEMatViews",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DestinationDataset_0x8",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachMatview",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupUSDEMatViews",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupUSDEMatViews').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "IncrementalCopyMatViews",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT * FROM @{item().MatviewName} \nminus \nSELECT * FROM @{item().MatviewName_curr}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "truncate table @{item().Sink_Table_Upsert}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "OracleTable1",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "SQL",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{item().Sink_Table_Upsert}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "spMergeStageToTarget",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "IncrementalCopyMatViews",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spMergeStageToTarget]",
										"storedProcedureParameters": {
											"dst": {
												"value": {
													"value": "@{item().MatviewName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"src": {
												"value": {
													"value": "@{Item().Sink_Table_Upsert}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQL1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"variables": {
					"var_logging": {
						"type": "Array",
						"defaultValue": [
							"1",
							"2",
							"3"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}